.reveal {
   
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: inherit;
}

.reveal h1 {
    font-size: 1.6em;
}

.reveal h2 {
    font-size: 1.4em;
}

.reveal h3 {
    font-size: 1.2em;
}


.reveal pre {
    width: 100%;
}

.reveal a {
    background: #fff;
}

.reveal blockquote {
    word-break: keep-all!important;
    width: 100%;
    font-size: 0.8em;
    line-height: 1.4;
}
