.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: inherit;
}

.reveal h1 {
    font-size: 2.6em;
}

.reveal h2 {
    font-size: 1.8em;
}


.reveal pre {
    width: 100%;
}

a {
  text-shadow:
    0 5px 0 #fff,
    5px 0 0 #fff,
    0 -5px 0 #fff,
    -5px 0 0 #fff,
    -5px -5px 0 #fff,
    5px -5px 0 #fff,
    -5px 5px 0 #fff,
    5px 5px 0 #fff;
}
