.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: inherit;
}

.reveal h1 {
    font-size: 2em;
}

.reveal h2 {
    font-size: 1.6em;
}

.reveal h3 {
    font-size: 1.4em;
}


.reveal pre {
    width: 100%;
}

.reveal a {
    background: #fff;
}
